<div class= "w-full h-24 flex justify-around bg-blue-500 items-center">
  <%= link_to "<-", :back, class: "text-white text-4xl" %>
  <%= link_to "ðŸ ", root_path, class: "text-white text-4xl" %>
  <%= button_to "ðŸšª", destroy_user_session_path, method: :delete, data: { turbo: false }, class: "text-white text-4xl" %>
</div>