<div class= "w-full h-24 flex justify-around bg-blue-500 items-center">
  <%= link_to "<-", root_path, class: "text-white text-2xl" %>
  <h2 class="text-white text-2xl self-center">Register</h2>
  <div class="text-blue-500 text-2xl">sss</div>
</div>